/captures
/.gradle
/local.properties
/.idea
.DS_Store
build/

local.properties
.classpath
.project
.idea
*.apk
*.iml
*.ipr
*.iws
*.hprof
.idea/workspace.xml

.idea/gradle.xml
.idea/misc.xml
.idea/copyright/profiles_settings.xml

*credential.gradle

/report

/integration
